<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650959210689-la9ldl20fhff0li4hndbpc8ftnskp4gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650959210689-la9ldl20fhff0li4hndbpc8ftnskp4gv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>650959210689-tqmpcfqm0nirmvm18tisrmmas1ddb5tf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE9p-zBFnlbweLhBZViy8E658stS1qz-w</string>
	<key>GCM_SENDER_ID</key>
	<string>650959210689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mcpaApp</string>
	<key>PROJECT_ID</key>
	<string>mcpaprod-fe637</string>
	<key>STORAGE_BUCKET</key>
	<string>mcpaprod-fe637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650959210689:ios:795d4d4126500dbda7ec40</string>
</dict>
</plist>