<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120708026205-kebaflsu61eav7ubtp7ohc27a17tjmk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120708026205-kebaflsu61eav7ubtp7ohc27a17tjmk0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>120708026205-bubc7v14js4b58m1s4b5jsh2v0b8vkfr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6idiSt3GRm0curHmqEeDsrgRoHOaDeXE</string>
	<key>GCM_SENDER_ID</key>
	<string>120708026205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mcpaApp</string>
	<key>PROJECT_ID</key>
	<string>mcpaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mcpaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120708026205:ios:a274d66c8a0bfc7ed362b4</string>
</dict>
</plist>